#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid #000000;
    perspective: 600px;
}

#world {
    position: absolute;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    transform: translate3d(300px, 250px, 0px) rotateX(-30deg) rotateY(0deg) rotateZ(0deg);
}

#square1 {
    position: absolute;
    height: 200px;
    width:200px;
    background: rgba(255, 0 , 0, 0.5);
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#square2 {
    position: absolute;
    height: 200px;
    width:200px;
    background: rgba(255, 255 , 0, 0.5);
    transform: translate3d(0px, 100px, -100px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}